* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;

    width: 100vw;
    min-height: 100vh;

    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
}

.body_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;

    height: 100%;

    padding: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 20px;

    width: 400px;

    padding: 25px;
    border-radius: 10px;

    background-color: rgba(192, 138, 223, 0.507);
}

.card-latitude-longitude {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 20px;

    width: 600px;
    /* height: 300px; */

    padding: 25px;
    border-radius: 10px;

    background-color: rgba(192, 138, 223, 0.507);
}

.label_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;

    width: 100%;
}

input {
    all: unset;
    box-sizing: border-box;

    width: 100%;
    height: 35px;
    padding: 10px;

    background-color: white;
}

button {
    all: unset;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;

    border-radius: 7px;

    background-color: rgb(17, 243, 17);

    color: black;

    cursor: pointer;
}

button:hover{
    background-color: rgba(17, 243, 17, 0.637);
}

.box_latitude_longitude {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    background-color: rgb(25, 48, 48);
}

.latitude_longitude {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 35px;

    color: white;
}

.fim_trekking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 35px;

    background-color: rgb(25, 48, 48);
    color: white;
}


#map {
    width: 100%;
    height: 500px;

    border-radius: 10px;
}